.navbar {
  direction: rtl;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 16px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #0d6efd;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links li {
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

.nav-links li:hover {
  color: #0d6efd;
}

.nav-actions {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #0d6efd;
  color: white;
}
